
body {
  background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
  font-family: sans-serif;
  text-align: center;
  color: white;
}
.container {
  margin-top: 100px;
}
button {
  padding: 15px 30px;
  font-size: 1.2em;
  margin: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 8px;
}
